## Name: A Aditya Bhardwaj
### Reg.No. : 22226

### <Center> Regression Methods (Lab) Assignment-VI

### How to read csv files in R

In [10]:
house <- read.csv("House.csv")
head(house)

  price lotsize bedrooms bathrms stories driveway recroom fullbase gashw airco
1 42000 5850    3        1       2       yes      no      yes      no    no
2 38500 4000    2        1       1       yes      no      no       no    no
3 49500 3060    3        1       1       yes      no      no       no    no
4 60500 6650    3        1       2       yes      yes     no       no    no
5 61000 6360    2        1       1       yes      no      no       no    no
6 66000 4160    3        1       1       yes      yes     yes      no    yes
  garagepl prefarea
1 1        no
2 0        no
3 0        no
4 0        no
5 0        no
6 0        no

### Analyzing the CSV File

In [14]:
# By default the read.csv() fuction gives the output as a data frame
is.data.frame(house)

[1] TRUE

In [16]:
print("The number of columns in the data frame are:")
print(ncol(house))
print("The number of rows in the data frame are:")
print(nrow(house))

[1] "The number of columns in the data frame are:"
[1] 12
[1] "The number of rows in the data frame are:"
[1] 546

### Get the Maximum Price

In [17]:
max_price <- max(house$price)
max_price

[1] 190000

### Get the details of the house with maximum price

In [18]:
max_price_house <- subset(house, price == max_price)
max_price_house

    price  lotsize bedrooms bathrms stories driveway recroom fullbase gashw
378 190000 7420    4        2       3       yes      no      no       no
    airco garagepl prefarea
378 yes   2        yes

### Get all the house with more than two bedrooms

In [20]:
more_bedrooms <- subset(house, bedrooms > 2)
head(more_bedrooms)

  price lotsize bedrooms bathrms stories driveway recroom fullbase gashw airco
1 42000 5850    3        1       2       yes      no      yes      no    no
3 49500 3060    3        1       1       yes      no      no       no    no
4 60500 6650    3        1       2       yes      yes     no       no    no
6 66000 4160    3        1       1       yes      yes     yes      no    yes
7 66000 3880    3        2       2       yes      no      yes      no    no
8 69000 4160    3        1       3       yes      no      no       no    no
  garagepl prefarea
1 1        no
3 0        no
4 0        no
6 0        no
7 2        no
8 0        no

### Get all the house with more than two bedrooms but price is less than 40000

In [22]:
cheap_house <- subset(house, bedrooms > 2 & price < 40000)
head(cheap_house)

   price lotsize bedrooms bathrms stories driveway recroom fullbase gashw airco
13 27000 1700    3        1       2       yes      no      no       no    no
14 36000 2880    3        1       1       no       no      no       no    no
23 37900 4000    3        1       2       yes      no      no       no    yes
55 38000 3630    3        3       2       no       yes     no       no    no
57 25245 2400    3        1       1       no       no      no       no    no
59 35500 4400    3        1       2       yes      no      no       no    no
   garagepl prefarea
13 0        no
14 0        no
23 0        no
55 0        no
57 0        no
59 0        no

### Writing into a CSV File

In [23]:
# Write filtered data into a new file.
write.csv(cheap_house, "house_output.csv")
new_data <- read.csv("house_output.csv")
head(new_data)

  X  price lotsize bedrooms bathrms stories driveway recroom fullbase gashw
1 13 27000 1700    3        1       2       yes      no      no       no
2 14 36000 2880    3        1       1       no       no      no       no
3 23 37900 4000    3        1       2       yes      no      no       no
4 55 38000 3630    3        3       2       no       yes     no       no
5 57 25245 2400    3        1       1       no       no      no       no
6 59 35500 4400    3        1       2       yes      no      no       no
  airco garagepl prefarea
1 no    0        no
2 no    0        no
3 yes   0        no
4 no    0        no
5 no    0        no
6 no    0        no