## Name: A Aditya Bhardwaj
### Reg.No. : 22226

### <Center> Regression Methods (Lab) Assignment-VII

In [1]:
library(tibble)

In [2]:
# Creating a tibble
tibble(x = letters)

   x
1  a
2  b
3  c
4  d
5  e
6  f
7  g
8  h
9  i
10 j
11 k
12 l
13 m
14 n
15 o
16 p
17 q
18 r
19 s
20 t
21 u
22 v
23 w
24 x
25 y
26 z

In [3]:
tibble(x = 1:3, y = list(1:5, 1:10, 1:20))

  x y
1 1 1, 2, 3, 4, 5
2 2 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
3 3 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20

In [4]:
names(data.frame("crazy name" = 1))

[1] "crazy.name"

In [5]:
names(tibble("crazy name" = 1))

[1] "crazy name"

In [6]:
tibble(x = 1:5, y = x^2)

  x y
1 1  1
2 2  4
3 3  9
4 4 16
5 5 25

#### Tibbles vs data frames

In [11]:
tibble(x = -5:100, y = 123.456 * (3^x))

    x   y
1   -5  5.080494e-01
2   -4  1.524148e+00
3   -3  4.572444e+00
4   -2  1.371733e+01
5   -1  4.115200e+01
6    0  1.234560e+02
7    1  3.703680e+02
8    2  1.111104e+03
9    3  3.333312e+03
10   4  9.999936e+03
11   5  2.999981e+04
12   6  8.999942e+04
13   7  2.699983e+05
14   8  8.099948e+05
15   9  2.429984e+06
16  10  7.289953e+06
17  11  2.186986e+07
18  12  6.560958e+07
19  13  1.968287e+08
20  14  5.904862e+08
21  15  1.771459e+09
22  16  5.314376e+09
23  17  1.594313e+10
24  18  4.782938e+10
25  19  1.434882e+11
26  20  4.304645e+11
27  21  1.291393e+12
28  22  3.874180e+12
29  23  1.162254e+13
30  24  3.486762e+13
⋮   ⋮   ⋮
77   71 9.270887e+35
78   72 2.781266e+36
79   73 8.343798e+36
80   74 2.503139e+37
81   75 7.509418e+37
82   76 2.252826e+38
83   77 6.758477e+38
84   78 2.027543e+39
85   79 6.082629e+39
86   80 1.824789e+40
87   81 5.474366e+40
88   82 1.642310e+41
89   83 4.926929e+41
90   84 1.478079e+42
91   85 4.434237e+42
92   86 1.330271e+43
93   87 3.990813e+43
94   88 1.197244e+44
95   89 3.591732e+44
96   90 1.077519e+45
97   91 3.232558e+45
98   92 9.697675e+45
99   93 2.909303e+46
100  94 8.727908e+46
101  95 2.618372e+47
102  96 7.855117e+47
103  97 2.356535e+48
104  98 7.069605e+48
105  99 2.120882e+49
106 100 6.362645e+49

In [12]:
# Subsetting
df1 <- data.frame(x = 1:3, y = 3:1)
class(df1[,1:2])

[1] "data.frame"

In [13]:
class(df[,1])

[1] "integer"

In [14]:
df2 <- tibble(x = 1:3, y = 3:1)
class(df[,1:2])

[1] "data.frame"

In [15]:
class(df2[,1])

[1] "tbl_df"     "tbl"        "data.frame"

In [16]:
class(df[[2]])

[1] "integer"

In [17]:
class(df2$x)

[1] "integer"

In [18]:
df <- data.frame(abc = 1)
df$a

[1] 1

In [19]:
# Tibbles never do partial matching, and will throw a warning 
# and return NULL if the column does not exist

df2 <- tibble(abc = 1)
df2$a

Warning message:
"Unknown or uninitialised column: `a`."

NULL

In [20]:
data.frame(a = 1:3)[, "a", drop = TRUE]

[1] 1 2 3

In [21]:
tibble(a = 1:3)[, "a", drop = TRUE]

[1] 1 2 3

In [23]:
df <- data.frame(a = 1:3, row.names = letters[1:3])
rownames(df)

[1] "a" "b" "c"

In [24]:
rownames(as_tibble(df))

[1] "1" "2" "3"

In [29]:
# Tibbles do not support row names. They are removed when 
# converting to a tibble or when subsetting:

tbl <- tibble(a = 1:3)
rownames(tbl) <- letters[1:3]

Warning message:
"Setting row names on a tibble is deprecated."

In [30]:
rownames(tbl)

[1] "a" "b" "c"

In [31]:
rownames(tbl[1,])

[1] "1"

#### Recycling

In [32]:
tibble(a = 1, b= 1:3)

  a b
1 1 1
2 1 2
3 1 3

In [33]:
tibble(a = 1:3, b = 1)

  a b
1 1 1
2 2 1
3 3 1

#### Arithmetic operation

In [38]:
tbl <- tibble(a = 1:3, b = 4:6)

In [39]:
tbl * 2

  a b
1 2  8
2 4 10
3 6 12