## Name: A Aditya Bhardwaj
### Reg.No. : 22226

### <Center> Regression Methods (Lab) Assignment-II

### User defined functions :-

In [5]:
# Cube of a function with 1 Argument

Cube<-function(a)
{
    print(a^3)
  
}
Cube(12)

[1] 1728

In [4]:
# Calling a Function with No Argument

cube <- function(){
 for(i in 1:12) {
     print(i^3) 
  }
}
cube()

[1] 1
[1] 8
[1] 27
[1] 64
[1] 125
[1] 216
[1] 343
[1] 512
[1] 729
[1] 1000
[1] 1331
[1] 1728

In [6]:
# Function with more than 1 Argument
power <- function(num,exp){
    print(num^exp)
}

power(2,4)

[1] 16

In [13]:
# Lazy evaluation of a function

mean_of_vector = function(a){
    a = a[!is.na(a)]
    print(a)
    paste("The mean of a is ", mean(a))   
}

mean_of_vector(c(20,30,40,50,NA,60,NA))

[1] 20 30 40 50 60

[1] "The mean of a is  40"

### R- Strings

In [14]:
# Strings
a<- 'Hello World'
a

[1] "Hello World"

In [17]:
# Combining two or more strings
a <- "hello"
b <- "world"
paste(a,b)
cat(a,b)

[1] "hello world"

hello world

In [21]:
# Using sep and collapse

a<-'students'
b<-'love'
c<-'swami'

print(paste(a,b,c,sep='_'))

print(paste(a,b,c,sep='',collapse=''))

[1] "students_love_swami"
[1] "studentsloveswami"

In [22]:
# Counting number of characters

a<-'Understandable'
nchar(a)

[1] 14

In [23]:
# Change case

up<-'DAY'
low<-'night'

# changing upper to lower
print(toupper(low))

# changing lower to upper
print(tolower(up))

[1] "NIGHT"
[1] "day"

In [24]:
#Substring from a main string
computer<-("Monitor keybord mouse cpu ups switchboard")
substring(computer,1,15)

[1] "Monitor keybord"

In [25]:
# Format function

result1 <- format("left", width = 10,  justify = "l")
# Placing string in the center
result2 <- format("center", width = 10,  justify = "c")
# Placing string in the right
result3 <- format("right", width = 10, justify = "r")
 
# Getting the different string placement
print(result1)
print(result2)
print(result3)

[1] "left      "
[1] "  center  "
[1] "     right"