## Name: A Aditya Bhardwaj
### Reg.No. : 22226

### <Center> Regression Methods (Lab) Assignment-VI

### How to read csv files in R

In [10]:
house <- read.csv("House.csv")
head(house)

  price lotsize bedrooms bathrms stories driveway recroom fullbase gashw airco
1 42000 5850    3        1       2       yes      no      yes      no    no
2 38500 4000    2        1       1       yes      no      no       no    no
3 49500 3060    3        1       1       yes      no      no       no    no
4 60500 6650    3        1       2       yes      yes     no       no    no
5 61000 6360    2        1       1       yes      no      no       no    no
6 66000 4160    3        1       1       yes      yes     yes      no    yes
  garagepl prefarea
1 1        no
2 0        no
3 0        no
4 0        no
5 0        no
6 0        no

### Analyzing the CSV File

In [14]:
# By default the read.csv() fuction gives the output as a data frame
is.data.frame(house)

[1] TRUE

In [16]:
print("The number of columns in the data frame are:")
print(ncol(house))
print("The number of rows in the data frame are:")
print(nrow(house))

[1] "The number of columns in the data frame are:"
[1] 12
[1] "The number of rows in the data frame are:"
[1] 546

### Get the Maximum Price

In [17]:
max_price <- max(house$price)
max_price

[1] 190000

### Get the details of the house with maximum price

In [18]:
max_price_house <- subset(house, price == max_price)
max_price_house

    price  lotsize bedrooms bathrms stories driveway recroom fullbase gashw
378 190000 7420    4        2       3       yes      no      no       no
    airco garagepl prefarea
378 yes   2        yes

### Get all the house with more than two bedrooms

In [20]:
more_bedrooms <- subset(house, bedrooms > 2)
head(more_bedrooms)

  price lotsize bedrooms bathrms stories driveway recroom fullbase gashw airco
1 42000 5850    3        1       2       yes      no      yes      no    no
3 49500 3060    3        1       1       yes      no      no       no    no
4 60500 6650    3        1       2       yes      yes     no       no    no
6 66000 4160    3        1       1       yes      yes     yes      no    yes
7 66000 3880    3        2       2       yes      no      yes      no    no
8 69000 4160    3        1       3       yes      no      no       no    no
  garagepl prefarea
1 1        no
3 0        no
4 0        no
6 0        no
7 2        no
8 0        no

### Get all the house with more than two bedrooms but price is less than 40000

In [22]:
cheap_house <- subset(house, bedrooms > 2 & price < 40000)
head(cheap_house)

   price lotsize bedrooms bathrms stories driveway recroom fullbase gashw airco
13 27000 1700    3        1       2       yes      no      no       no    no
14 36000 2880    3        1       1       no       no      no       no    no
23 37900 4000    3        1       2       yes      no      no       no    yes
55 38000 3630    3        3       2       no       yes     no       no    no
57 25245 2400    3        1       1       no       no      no       no    no
59 35500 4400    3        1       2       yes      no      no       no    no
   garagepl prefarea
13 0        no
14 0        no
23 0        no
55 0        no
57 0        no
59 0        no

### Writing into a CSV File

In [23]:
# Write filtered data into a new file.
write.csv(cheap_house, "house_output.csv")
new_data <- read.csv("house_output.csv")
head(new_data)

  X  price lotsize bedrooms bathrms stories driveway recroom fullbase gashw
1 13 27000 1700    3        1       2       yes      no      no       no
2 14 36000 2880    3        1       1       no       no      no       no
3 23 37900 4000    3        1       2       yes      no      no       no
4 55 38000 3630    3        3       2       no       yes     no       no
5 57 25245 2400    3        1       1       no       no      no       no
6 59 35500 4400    3        1       2       yes      no      no       no
  airco garagepl prefarea
1 no    0        no
2 no    0        no
3 yes   0        no
4 no    0        no
5 no    0        no
6 no    0        no

## Tidyverse in R

In [33]:
# Importing libraries
library(tidyverse)

#### Importing the Titanic dataset

In [35]:
passengers <- read.csv("train.csv")
head(passengers)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [37]:
# To get an overview of the data we can use the summary() function
passengers %>% summary()

  PassengerId       Survived          Pclass          Name
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Length:891
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   Class :character
 Median :446.0   Median :0.0000   Median :3.000   Mode  :character
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

     Sex                 Age            SibSp           Parch
 Length:891         Min.   : 0.42   Min.   :0.000   Min.   :0.0000
 Class :character   1st Qu.:20.12   1st Qu.:0.000   1st Qu.:0.0000
 Mode  :character   Median :28.00   Median :0.000   Median :0.0000
                    Mean   :29.70   Mean   :0.523   Mean   :0.3816
                    3rd Qu.:38.00   3rd Qu.:1.000   3rd Qu.:0.0000
                    Max.   :80.00   Max.   :8.000   Max.   :6.0000
                    NA's   :177
    Ticket               Fare           Cabin             Embarked
 Length:891         Min.   :  0.00   Length:891         Length:891
 Class :character   1st Qu.:  7.91   Class :character   Class :character
 Mode  :character   Median : 14.45   Mode  :character   Mode  :character
                    Mean   : 32.20
                    3rd Qu.: 31.00
                    Max.   :512.33

In [38]:
# Dropping the null values
passengers %>% 
    drop_na() %>%
    summary()

  PassengerId       Survived          Pclass          Name
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Length:714
 1st Qu.:222.2   1st Qu.:0.0000   1st Qu.:1.000   Class :character
 Median :445.0   Median :0.0000   Median :2.000   Mode  :character
 Mean   :448.6   Mean   :0.4062   Mean   :2.237
 3rd Qu.:677.8   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000
     Sex                 Age            SibSp            Parch
 Length:714         Min.   : 0.42   Min.   :0.0000   Min.   :0.0000
 Class :character   1st Qu.:20.12   1st Qu.:0.0000   1st Qu.:0.0000
 Mode  :character   Median :28.00   Median :0.0000   Median :0.0000
                    Mean   :29.70   Mean   :0.5126   Mean   :0.4314
                    3rd Qu.:38.00   3rd Qu.:1.0000   3rd Qu.:1.0000
                    Max.   :80.00   Max.   :5.0000   Max.   :6.0000
    Ticket               Fare           Cabin             Embarked
 Length:714         Min.   :  0.00   Length:714         Length:714
 Class :character   1st Qu.:  8.05   Class :character   Class :character
 Mode  :character   Median : 15.74   Mode  :character   Mode  :character
                    Mean   : 34.69
                    3rd Qu.: 33.38
                    Max.   :512.33

In [39]:
# Filter to get all "male" rows
passengers %>%
    filter(Sex == "male")

    PassengerId Survived Pclass Name                                    Sex
1    1          0        3      Braund, Mr. Owen Harris                 male
2    5          0        3      Allen, Mr. William Henry                male
3    6          0        3      Moran, Mr. James                        male
4    7          0        1      McCarthy, Mr. Timothy J                 male
5    8          0        3      Palsson, Master. Gosta Leonard          male
6   13          0        3      Saundercock, Mr. William Henry          male
7   14          0        3      Andersson, Mr. Anders Johan             male
8   17          0        3      Rice, Master. Eugene                    male
9   18          1        2      Williams, Mr. Charles Eugene            male
10  21          0        2      Fynney, Mr. Joseph J                    male
11  22          1        2      Beesley, Mr. Lawrence                   male
12  24          1        1      Sloper, Mr. William Thompson            male
13  27          0        3      Emir, Mr. Farred Chehab                 male
14  28          0        1      Fortune, Mr. Charles Alexander          male
15  30          0        3      Todoroff, Mr. Lalio                     male
16  31          0        1      Uruchurtu, Don. Manuel E                male
17  34          0        2      Wheadon, Mr. Edward H                   male
18  35          0        1      Meyer, Mr. Edgar Joseph                 male
19  36          0        1      Holverson, Mr. Alexander Oskar          male
20  37          1        3      Mamee, Mr. Hanna                        male
21  38          0        3      Cann, Mr. Ernest Charles                male
22  43          0        3      Kraeff, Mr. Theodor                     male
23  46          0        3      Rogers, Mr. William John                male
24  47          0        3      Lennon, Mr. Denis                       male
25  49          0        3      Samaan, Mr. Youssef                     male
26  51          0        3      Panula, Master. Juha Niilo              male
27  52          0        3      Nosworthy, Mr. Richard Cater            male
28  55          0        1      Ostby, Mr. Engelhart Cornelius          male
29  56          1        1      Woolner, Mr. Hugh                       male
30  58          0        3      Novel, Mr. Mansouer                     male
⋮   ⋮           ⋮        ⋮      ⋮                                       ⋮
548 841         0        3      Alhomaki, Mr. Ilmari Rudolf             male
549 842         0        2      Mudd, Mr. Thomas Charles                male
550 844         0        3      Lemberopolous, Mr. Peter L              male
551 845         0        3      Culumovic, Mr. Jeso                     male
552 846         0        3      Abbing, Mr. Anthony                     male
553 847         0        3      Sage, Mr. Douglas Bullen                male
554 848         0        3      Markoff, Mr. Marin                      male
555 849         0        2      Harper, Rev. John                       male
556 851         0        3      Andersson, Master. Sigvard Harald Elias male
557 852         0        3      Svensson, Mr. Johan                     male
558 858         1        1      Daly, Mr. Peter Denis                   male
559 860         0        3      Razi, Mr. Raihed                        male
560 861         0        3      Hansen, Mr. Claus Peter                 male
561 862         0        2      Giles, Mr. Frederick Edward             male
562 865         0        2      Gill, Mr. John William                  male
563 868         0        1      Roebling, Mr. Washington Augustus II    male
564 869         0        3      van Melkebeke, Mr. Philemon             male
565 870         1        3      Johnson, Master. Harold Theodor         male
566 871         0        3      Balkic, Mr. Cerin                       male
567 873         0        1      Carlsson, Mr. Frans Olof                male
568 874         0        3      Vander Cruyssen, Mr. Victor             male
569 877         0        3      Gustafsson, Mr. Alfred Ossian           male
570 878         0        3      Petroff, Mr. Nedelio                    male
571 879         0        3      Laleff, Mr. Kristo                      male
572 882         0        3      Markun, Mr. Johann                      male
573 884         0        2      Banfield, Mr. Frederick James           male
574 885         0        3      Sutehall, Mr. Henry Jr                  male
575 887         0        2      Montvila, Rev. Juozas                   male
576 890         1        1      Behr, Mr. Karl Howell                   male
577 891         0        3      Dooley, Mr. Patrick                     male
    Age  SibSp Parch Ticket           Fare     Cabin       Embarked
1   22.0 1     0     A/5 21171          7.2500             S
2   35.0 0     0     373450             8.0500             S
3     NA 0     0     330877             8.4583             Q
4   54.0 0     0     17463             51.8625 E46         S
5    2.0 3     1     349909            21.0750             S
6   20.0 0     0     A/5. 2151          8.0500             S
7   39.0 1     5     347082            31.2750             S
8    2.0 4     1     382652            29.1250             Q
9     NA 0     0     244373            13.0000             S
10  35.0 0     0     239865            26.0000             S
11  34.0 0     0     248698            13.0000 D56         S
12  28.0 0     0     113788            35.5000 A6          S
13    NA 0     0     2631               7.2250             C
14  19.0 3     2     19950            263.0000 C23 C25 C27 S
15    NA 0     0     349216             7.8958             S
16  40.0 0     0     PC 17601          27.7208             C
17  66.0 0     0     C.A. 24579        10.5000             S
18  28.0 1     0     PC 17604          82.1708             C
19  42.0 1     0     113789            52.0000             S
20    NA 0     0     2677               7.2292             C
21  21.0 0     0     A./5. 2152         8.0500             S
22    NA 0     0     349253             7.8958             C
23    NA 0     0     S.C./A.4. 23567    8.0500             S
24    NA 1     0     370371            15.5000             Q
25    NA 2     0     2662              21.6792             C
26   7.0 4     1     3101295           39.6875             S
27  21.0 0     0     A/4. 39886         7.8000             S
28  65.0 0     1     113509            61.9792 B30         C
29    NA 0     0     19947             35.5000 C52         S
30  28.5 0     0     2697               7.2292             C
⋮   ⋮    ⋮     ⋮     ⋮                ⋮        ⋮           ⋮
548 20.0 0     0     SOTON/O2 3101287  7.9250              S
549 16.0 0     0     S.O./P.P. 3      10.5000              S
550 34.5 0     0     2683              6.4375              C
551 17.0 0     0     315090            8.6625              S
552 42.0 0     0     C.A. 5547         7.5500              S
553   NA 8     2     CA. 2343         69.5500              S
554 35.0 0     0     349213            7.8958              C
555 28.0 0     1     248727           33.0000              S
556  4.0 4     2     347082           31.2750              S
557 74.0 0     0     347060            7.7750              S
558 51.0 0     0     113055           26.5500  E17         S
559   NA 0     0     2629              7.2292              C
560 41.0 2     0     350026           14.1083              S
561 21.0 1     0     28134            11.5000              S
562 24.0 0     0     233866           13.0000              S
563 31.0 0     0     PC 17590         50.4958  A24         S
564   NA 0     0     345777            9.5000              S
565  4.0 1     1     347742           11.1333              S
566 26.0 0     0     349248            7.8958              S
567 33.0 0     0     695               5.0000  B51 B53 B55 S
568 47.0 0     0     345765            9.0000              S
569 20.0 0     0     7534              9.8458              S
570 19.0 0     0     349212            7.8958              S
571   NA 0     0     349217            7.8958              S
572 33.0 0     0     349257            7.8958              S
573 28.0 0     0     C.A./SOTON 34068 10.5000              S
574 25.0 0     0     SOTON/OQ 392076   7.0500              S
575 27.0 0     0     211536           13.0000              S
576 26.0 0     0     111369           30.0000  C148        C
577 32.0 0     0     370376            7.7500              Q

In [40]:
# Filter to get all "female" rows
passengers %>%
    filter(Sex =="female")

    PassengerId Survived Pclass
1    2          1        1
2    3          1        3
3    4          1        1
4    9          1        3
5   10          1        2
6   11          1        3
7   12          1        1
8   15          0        3
9   16          1        2
10  19          0        3
11  20          1        3
12  23          1        3
13  25          0        3
14  26          1        3
15  29          1        3
16  32          1        1
17  33          1        3
18  39          0        3
19  40          1        3
20  41          0        3
21  42          0        2
22  44          1        2
23  45          1        3
24  48          1        3
25  50          0        3
26  53          1        1
27  54          1        2
28  57          1        2
29  59          1        2
30  62          1        1
⋮   ⋮           ⋮        ⋮
285 808         0        3
286 810         1        1
287 814         0        3
288 817         0        3
289 821         1        1
290 824         1        3
291 830         1        1
292 831         1        3
293 836         1        1
294 843         1        1
295 850         1        1
296 853         0        3
297 854         1        1
298 855         0        2
299 856         1        3
300 857         1        1
301 859         1        3
302 863         1        1
303 864         0        3
304 866         1        2
305 867         1        2
306 872         1        1
307 875         1        2
308 876         1        3
309 880         1        1
310 881         1        2
311 883         0        3
312 886         0        3
313 888         1        1
314 889         0        3
    Name                                                      Sex    Age SibSp
1   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
2   Heikkinen, Miss. Laina                                    female 26  0
3   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
4   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
5   Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
6   Sandstrom, Miss. Marguerite Rut                           female  4  1
7   Bonnell, Miss. Elizabeth                                  female 58  0
8   Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
9   Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
10  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
11  Masselmani, Mrs. Fatima                                   female NA  0
12  McGowan, Miss. Anna "Annie"                               female 15  0
13  Palsson, Miss. Torborg Danira                             female  8  3
14  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
15  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
16  Spencer, Mrs. William Augustus (Marie Eugenie)            female NA  1
17  Glynn, Miss. Mary Agatha                                  female NA  0
18  Vander Planke, Miss. Augusta Maria                        female 18  2
19  Nicola-Yarred, Miss. Jamila                               female 14  1
20  Ahlin, Mrs. Johan (Johanna Persdotter Larsson)            female 40  1
21  Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female 27  1
22  Laroche, Miss. Simonne Marie Anne Andree                  female  3  1
23  Devaney, Miss. Margaret Delia                             female 19  0
24  O'Driscoll, Miss. Bridget                                 female NA  0
25  Arnold-Franchi, Mrs. Josef (Josefine Franchi)             female 18  1
26  Harper, Mrs. Henry Sleeper (Myna Haxtun)                  female 49  1
27  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)        female 29  1
28  Rugg, Miss. Emily                                         female 21  0
29  West, Miss. Constance Mirium                              female  5  1
30  Icard, Miss. Amelie                                       female 38  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
285 Pettersson, Miss. Ellen Natalia                           female 18  0
286 Chambers, Mrs. Norman Campbell (Bertha Griggs)            female 33  1
287 Andersson, Miss. Ebba Iris Alfrida                        female  6  4
288 Heininen, Miss. Wendla Maria                              female 23  0
289 Hays, Mrs. Charles Melville (Clara Jennings Gregg)        female 52  1
290 Moor, Mrs. (Beila)                                        female 27  0
291 Stone, Mrs. George Nelson (Martha Evelyn)                 female 62  0
292 Yasbeck, Mrs. Antoni (Selini Alexander)                   female 15  1
293 Compton, Miss. Sara Rebecca                               female 39  1
294 Serepeca, Miss. Augusta                                   female 30  0
295 Goldenberg, Mrs. Samuel L (Edwiga Grabowska)              female NA  1
296 Boulos, Miss. Nourelain                                   female  9  1
297 Lines, Miss. Mary Conover                                 female 16  0
298 Carter, Mrs. Ernest Courtenay (Lilian Hughes)             female 44  1
299 Aks, Mrs. Sam (Leah Rosen)                                female 18  0
300 Wick, Mrs. George Dennick (Mary Hitchcock)                female 45  1
301 Baclini, Mrs. Solomon (Latifa Qurban)                     female 24  0
302 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
303 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
304 Bystrom, Mrs. (Karolina)                                  female 42  0
305 Duran y More, Miss. Asuncion                              female 27  1
306 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
307 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
308 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
309 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
310 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
311 Dahlberg, Miss. Gerda Ulrika                              female 22  0
312 Rice, Mrs. William (Margaret Norton)                      female 39  0
313 Graham, Miss. Margaret Edith                              female 19  0
314 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
    Parch Ticket           Fare     Cabin Embarked
1   0     PC 17599          71.2833 C85   C
2   0     STON/O2. 3101282   7.9250       S
3   0     113803            53.1000 C123  S
4   2     347742            11.1333       S
5   0     237736            30.0708       C
6   1     PP 9549           16.7000 G6    S
7   0     113783            26.5500 C103  S
8   0     350406             7.8542       S
9   0     248706            16.0000       S
10  0     345763            18.0000       S
11  0     2649               7.2250       C
12  0     330923             8.0292       Q
13  1     349909            21.0750       S
14  5     347077            31.3875       S
15  0     330959             7.8792       Q
16  0     PC 17569         146.5208 B78   C
17  0     335677             7.7500       Q
18  0     345764            18.0000       S
19  0     2651              11.2417       C
20  0     7546               9.4750       S
21  0     11668             21.0000       S
22  2     SC/Paris 2123     41.5792       C
23  0     330958             7.8792       Q
24  0     14311              7.7500       Q
25  0     349237            17.8000       S
26  0     PC 17572          76.7292 D33   C
27  0     2926              26.0000       S
28  0     C.A. 31026        10.5000       S
29  2     C.A. 34651        27.7500       S
30  0     113572            80.0000 B28
⋮   ⋮     ⋮                ⋮        ⋮     ⋮
285 0     347087             7.7750       S
286 0     113806            53.1000 E8    S
287 2     347082            31.2750       S
288 0     STON/O2. 3101290   7.9250       S
289 1     12749             93.5000 B69   S
290 1     392096            12.4750 E121  S
291 0     113572            80.0000 B28
292 0     2659              14.4542       C
293 1     PC 17756          83.1583 E49   C
294 0     113798            31.0000       C
295 0     17453             89.1042 C92   C
296 1     2678              15.2458       C
297 1     PC 17592          39.4000 D28   S
298 0     244252            26.0000       S
299 1     392091             9.3500       S
300 1     36928            164.8667       S
301 3     2666              19.2583       C
302 0     17466             25.9292 D17   S
303 2     CA. 2343          69.5500       S
304 0     236852            13.0000       S
305 0     SC/PARIS 2149     13.8583       C
306 1     11751             52.5542 D35   S
307 0     P/PP 3381         24.0000       C
308 0     2667               7.2250       C
309 1     11767             83.1583 C50   C
310 1     230433            26.0000       S
311 0     7552              10.5167       S
312 5     382652            29.1250       Q
313 0     112053            30.0000 B42   S
314 2     W./C. 6607        23.4500       S

In [41]:
# Arrange by increasing Fare
passengers %>%
    arrange(Fare)

    PassengerId Survived Pclass
1   180         0        3
2   264         0        1
3   272         1        3
4   278         0        2
5   303         0        3
6   414         0        2
7   467         0        2
8   482         0        2
9   598         0        3
10  634         0        1
11  675         0        2
12  733         0        2
13  807         0        1
14  816         0        1
15  823         0        1
16  379         0        3
17  873         0        1
18  327         0        3
19  844         0        3
20  819         0        3
21  203         0        3
22  372         0        3
23  144         0        3
24  655         0        3
25  412         0        3
26  826         0        3
27  130         0        3
28  805         1        3
29  478         0        3
30  132         0        3
⋮   ⋮           ⋮        ⋮
862 196         1        1
863 298         0        1
864 306         1        1
865 499         0        1
866 709         1        1
867 269         1        1
868 333         0        1
869 610         1        1
870 319         1        1
871 857         1        1
872 690         1        1
873 731         1        1
874 780         1        1
875 378         0        1
876 528         0        1
877 381         1        1
878 558         0        1
879 701         1        1
880 717         1        1
881 119         0        1
882 300         1        1
883 312         1        1
884 743         1        1
885  28         0        1
886  89         1        1
887 342         1        1
888 439         0        1
889 259         1        1
890 680         1        1
891 738         1        1
    Name                                                  Sex    Age   SibSp
1   Leonard, Mr. Lionel                                   male   36.0  0
2   Harrison, Mr. William                                 male   40.0  0
3   Tornquist, Mr. William Henry                          male   25.0  0
4   Parkes, Mr. Francis "Frank"                           male     NA  0
5   Johnson, Mr. William Cahoone Jr                       male   19.0  0
6   Cunningham, Mr. Alfred Fleming                        male     NA  0
7   Campbell, Mr. William                                 male     NA  0
8   Frost, Mr. Anthony Wood "Archie"                      male     NA  0
9   Johnson, Mr. Alfred                                   male   49.0  0
10  Parr, Mr. William Henry Marsh                         male     NA  0
11  Watson, Mr. Ennis Hastings                            male     NA  0
12  Knight, Mr. Robert J                                  male     NA  0
13  Andrews, Mr. Thomas Jr                                male   39.0  0
14  Fry, Mr. Richard                                      male     NA  0
15  Reuchlin, Jonkheer. John George                       male   38.0  0
16  Betros, Mr. Tannous                                   male   20.0  0
17  Carlsson, Mr. Frans Olof                              male   33.0  0
18  Nysveen, Mr. Johan Hansen                             male   61.0  0
19  Lemberopolous, Mr. Peter L                            male   34.5  0
20  Holm, Mr. John Fredrik Alexander                      male   43.0  0
21  Johanson, Mr. Jakob Alfred                            male   34.0  0
22  Wiklund, Mr. Jakob Alfred                             male   18.0  1
23  Burke, Mr. Jeremiah                                   male   19.0  0
24  Hegarty, Miss. Hanora "Nora"                          female 18.0  0
25  Hart, Mr. Henry                                       male     NA  0
26  Flynn, Mr. John                                       male     NA  0
27  Ekstrom, Mr. Johan                                    male   45.0  0
28  Hedman, Mr. Oskar Arvid                               male   27.0  0
29  Braund, Mr. Lewis Richard                             male   29.0  1
30  Coelho, Mr. Domingos Fernandeo                        male   20.0  0
⋮   ⋮                                                     ⋮      ⋮     ⋮
862 Lurette, Miss. Elise                                  female 58.00 0
863 Allison, Miss. Helen Loraine                          female  2.00 1
864 Allison, Master. Hudson Trevor                        male    0.92 1
865 Allison, Mrs. Hudson J C (Bessie Waldo Daniels)       female 25.00 1
866 Cleaver, Miss. Alice                                  female 22.00 0
867 Graham, Mrs. William Thompson (Edith Junkins)         female 58.00 0
868 Graham, Mr. George Edward                             male   38.00 0
869 Shutes, Miss. Elizabeth W                             female 40.00 0
870 Wick, Miss. Mary Natalie                              female 31.00 0
871 Wick, Mrs. George Dennick (Mary Hitchcock)            female 45.00 1
872 Madill, Miss. Georgette Alexandra                     female 15.00 0
873 Allen, Miss. Elisabeth Walton                         female 29.00 0
874 Robert, Mrs. Edward Scott (Elisabeth Walton McMillan) female 43.00 0
875 Widener, Mr. Harry Elkins                             male   27.00 0
876 Farthing, Mr. John                                    male      NA 0
877 Bidois, Miss. Rosalie                                 female 42.00 0
878 Robbins, Mr. Victor                                   male      NA 0
879 Astor, Mrs. John Jacob (Madeleine Talmadge Force)     female 18.00 1
880 Endres, Miss. Caroline Louise                         female 38.00 0
881 Baxter, Mr. Quigg Edmond                              male   24.00 0
882 Baxter, Mrs. James (Helene DeLaudeniere Chaput)       female 50.00 0
883 Ryerson, Miss. Emily Borie                            female 18.00 2
884 Ryerson, Miss. Susan Parker "Suzette"                 female 21.00 2
885 Fortune, Mr. Charles Alexander                        male   19.00 3
886 Fortune, Miss. Mabel Helen                            female 23.00 3
887 Fortune, Miss. Alice Elizabeth                        female 24.00 3
888 Fortune, Mr. Mark                                     male   64.00 1
889 Ward, Miss. Anna                                      female 35.00 0
890 Cardeza, Mr. Thomas Drake Martinez                    male   36.00 0
891 Lesurer, Mr. Gustave J                                male   35.00 0
    Parch Ticket             Fare     Cabin           Embarked
1   0     LINE               0.0000                   S
2   0     112059             0.0000   B94             S
3   0     LINE               0.0000                   S
4   0     239853             0.0000                   S
5   0     LINE               0.0000                   S
6   0     239853             0.0000                   S
7   0     239853             0.0000                   S
8   0     239854             0.0000                   S
9   0     LINE               0.0000                   S
10  0     112052             0.0000                   S
11  0     239856             0.0000                   S
12  0     239855             0.0000                   S
13  0     112050             0.0000   A36             S
14  0     112058             0.0000   B102            S
15  0     19972              0.0000                   S
16  0     2648               4.0125                   C
17  0     695                5.0000   B51 B53 B55     S
18  0     345364             6.2375                   S
19  0     2683               6.4375                   C
20  0     C 7075             6.4500                   S
21  0     3101264            6.4958                   S
22  0     3101267            6.4958                   S
23  0     365222             6.7500                   Q
24  0     365226             6.7500                   Q
25  0     394140             6.8583                   Q
26  0     368323             6.9500                   Q
27  0     347061             6.9750                   S
28  0     347089             6.9750                   S
29  0     3460               7.0458                   S
30  0     SOTON/O.Q. 3101307 7.0500                   S
⋮   ⋮     ⋮                  ⋮        ⋮               ⋮
862 0     PC 17569           146.5208 B80             C
863 2     113781             151.5500 C22 C26         S
864 2     113781             151.5500 C22 C26         S
865 2     113781             151.5500 C22 C26         S
866 0     113781             151.5500                 S
867 1     PC 17582           153.4625 C125            S
868 1     PC 17582           153.4625 C91             S
869 0     PC 17582           153.4625 C125            S
870 2     36928              164.8667 C7              S
871 1     36928              164.8667                 S
872 1     24160              211.3375 B5              S
873 0     24160              211.3375 B5              S
874 1     24160              211.3375 B3              S
875 2     113503             211.5000 C82             C
876 0     PC 17483           221.7792 C95             S
877 0     PC 17757           227.5250                 C
878 0     PC 17757           227.5250                 C
879 0     PC 17757           227.5250 C62 C64         C
880 0     PC 17757           227.5250 C45             C
881 1     PC 17558           247.5208 B58 B60         C
882 1     PC 17558           247.5208 B58 B60         C
883 2     PC 17608           262.3750 B57 B59 B63 B66 C
884 2     PC 17608           262.3750 B57 B59 B63 B66 C
885 2     19950              263.0000 C23 C25 C27     S
886 2     19950              263.0000 C23 C25 C27     S
887 2     19950              263.0000 C23 C25 C27     S
888 4     19950              263.0000 C23 C25 C27     S
889 0     PC 17755           512.3292                 C
890 1     PC 17755           512.3292 B51 B53 B55     C
891 0     PC 17755           512.3292 B101            C

In [42]:
# Arrange by decreasing Fare
passengers %>% 
    arrange(desc(Fare))

    PassengerId Survived Pclass
1   259         1        1
2   680         1        1
3   738         1        1
4    28         0        1
5    89         1        1
6   342         1        1
7   439         0        1
8   312         1        1
9   743         1        1
10  119         0        1
11  300         1        1
12  381         1        1
13  558         0        1
14  701         1        1
15  717         1        1
16  528         0        1
17  378         0        1
18  690         1        1
19  731         1        1
20  780         1        1
21  319         1        1
22  857         1        1
23  269         1        1
24  333         0        1
25  610         1        1
26  298         0        1
27  306         1        1
28  499         0        1
29  709         1        1
30   32         1        1
⋮   ⋮           ⋮        ⋮
862 885         0        3
863 478         0        3
864 130         0        3
865 805         1        3
866 826         0        3
867 412         0        3
868 144         0        3
869 655         0        3
870 203         0        3
871 372         0        3
872 819         0        3
873 844         0        3
874 327         0        3
875 873         0        1
876 379         0        3
877 180         0        3
878 264         0        1
879 272         1        3
880 278         0        2
881 303         0        3
882 414         0        2
883 467         0        2
884 482         0        2
885 598         0        3
886 634         0        1
887 675         0        2
888 733         0        2
889 807         0        1
890 816         0        1
891 823         0        1
    Name                                                  Sex    Age   SibSp
1   Ward, Miss. Anna                                      female 35.00 0
2   Cardeza, Mr. Thomas Drake Martinez                    male   36.00 0
3   Lesurer, Mr. Gustave J                                male   35.00 0
4   Fortune, Mr. Charles Alexander                        male   19.00 3
5   Fortune, Miss. Mabel Helen                            female 23.00 3
6   Fortune, Miss. Alice Elizabeth                        female 24.00 3
7   Fortune, Mr. Mark                                     male   64.00 1
8   Ryerson, Miss. Emily Borie                            female 18.00 2
9   Ryerson, Miss. Susan Parker "Suzette"                 female 21.00 2
10  Baxter, Mr. Quigg Edmond                              male   24.00 0
11  Baxter, Mrs. James (Helene DeLaudeniere Chaput)       female 50.00 0
12  Bidois, Miss. Rosalie                                 female 42.00 0
13  Robbins, Mr. Victor                                   male      NA 0
14  Astor, Mrs. John Jacob (Madeleine Talmadge Force)     female 18.00 1
15  Endres, Miss. Caroline Louise                         female 38.00 0
16  Farthing, Mr. John                                    male      NA 0
17  Widener, Mr. Harry Elkins                             male   27.00 0
18  Madill, Miss. Georgette Alexandra                     female 15.00 0
19  Allen, Miss. Elisabeth Walton                         female 29.00 0
20  Robert, Mrs. Edward Scott (Elisabeth Walton McMillan) female 43.00 0
21  Wick, Miss. Mary Natalie                              female 31.00 0
22  Wick, Mrs. George Dennick (Mary Hitchcock)            female 45.00 1
23  Graham, Mrs. William Thompson (Edith Junkins)         female 58.00 0
24  Graham, Mr. George Edward                             male   38.00 0
25  Shutes, Miss. Elizabeth W                             female 40.00 0
26  Allison, Miss. Helen Loraine                          female  2.00 1
27  Allison, Master. Hudson Trevor                        male    0.92 1
28  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)       female 25.00 1
29  Cleaver, Miss. Alice                                  female 22.00 0
30  Spencer, Mrs. William Augustus (Marie Eugenie)        female    NA 1
⋮   ⋮                                                     ⋮      ⋮     ⋮
862 Sutehall, Mr. Henry Jr                                male   25.0  0
863 Braund, Mr. Lewis Richard                             male   29.0  1
864 Ekstrom, Mr. Johan                                    male   45.0  0
865 Hedman, Mr. Oskar Arvid                               male   27.0  0
866 Flynn, Mr. John                                       male     NA  0
867 Hart, Mr. Henry                                       male     NA  0
868 Burke, Mr. Jeremiah                                   male   19.0  0
869 Hegarty, Miss. Hanora "Nora"                          female 18.0  0
870 Johanson, Mr. Jakob Alfred                            male   34.0  0
871 Wiklund, Mr. Jakob Alfred                             male   18.0  1
872 Holm, Mr. John Fredrik Alexander                      male   43.0  0
873 Lemberopolous, Mr. Peter L                            male   34.5  0
874 Nysveen, Mr. Johan Hansen                             male   61.0  0
875 Carlsson, Mr. Frans Olof                              male   33.0  0
876 Betros, Mr. Tannous                                   male   20.0  0
877 Leonard, Mr. Lionel                                   male   36.0  0
878 Harrison, Mr. William                                 male   40.0  0
879 Tornquist, Mr. William Henry                          male   25.0  0
880 Parkes, Mr. Francis "Frank"                           male     NA  0
881 Johnson, Mr. William Cahoone Jr                       male   19.0  0
882 Cunningham, Mr. Alfred Fleming                        male     NA  0
883 Campbell, Mr. William                                 male     NA  0
884 Frost, Mr. Anthony Wood "Archie"                      male     NA  0
885 Johnson, Mr. Alfred                                   male   49.0  0
886 Parr, Mr. William Henry Marsh                         male     NA  0
887 Watson, Mr. Ennis Hastings                            male     NA  0
888 Knight, Mr. Robert J                                  male     NA  0
889 Andrews, Mr. Thomas Jr                                male   39.0  0
890 Fry, Mr. Richard                                      male     NA  0
891 Reuchlin, Jonkheer. John George                       male   38.0  0
    Parch Ticket          Fare     Cabin           Embarked
1   0     PC 17755        512.3292                 C
2   1     PC 17755        512.3292 B51 B53 B55     C
3   0     PC 17755        512.3292 B101            C
4   2     19950           263.0000 C23 C25 C27     S
5   2     19950           263.0000 C23 C25 C27     S
6   2     19950           263.0000 C23 C25 C27     S
7   4     19950           263.0000 C23 C25 C27     S
8   2     PC 17608        262.3750 B57 B59 B63 B66 C
9   2     PC 17608        262.3750 B57 B59 B63 B66 C
10  1     PC 17558        247.5208 B58 B60         C
11  1     PC 17558        247.5208 B58 B60         C
12  0     PC 17757        227.5250                 C
13  0     PC 17757        227.5250                 C
14  0     PC 17757        227.5250 C62 C64         C
15  0     PC 17757        227.5250 C45             C
16  0     PC 17483        221.7792 C95             S
17  2     113503          211.5000 C82             C
18  1     24160           211.3375 B5              S
19  0     24160           211.3375 B5              S
20  1     24160           211.3375 B3              S
21  2     36928           164.8667 C7              S
22  1     36928           164.8667                 S
23  1     PC 17582        153.4625 C125            S
24  1     PC 17582        153.4625 C91             S
25  0     PC 17582        153.4625 C125            S
26  2     113781          151.5500 C22 C26         S
27  2     113781          151.5500 C22 C26         S
28  2     113781          151.5500 C22 C26         S
29  0     113781          151.5500                 S
30  0     PC 17569        146.5208 B78             C
⋮   ⋮     ⋮               ⋮        ⋮               ⋮
862 0     SOTON/OQ 392076 7.0500                   S
863 0     3460            7.0458                   S
864 0     347061          6.9750                   S
865 0     347089          6.9750                   S
866 0     368323          6.9500                   Q
867 0     394140          6.8583                   Q
868 0     365222          6.7500                   Q
869 0     365226          6.7500                   Q
870 0     3101264         6.4958                   S
871 0     3101267         6.4958                   S
872 0     C 7075          6.4500                   S
873 0     2683            6.4375                   C
874 0     345364          6.2375                   S
875 0     695             5.0000   B51 B53 B55     S
876 0     2648            4.0125                   C
877 0     LINE            0.0000                   S
878 0     112059          0.0000   B94             S
879 0     LINE            0.0000                   S
880 0     239853          0.0000                   S
881 0     LINE            0.0000                   S
882 0     239853          0.0000                   S
883 0     239853          0.0000                   S
884 0     239854          0.0000                   S
885 0     LINE            0.0000                   S
886 0     112052          0.0000                   S
887 0     239856          0.0000                   S
888 0     239855          0.0000                   S
889 0     112050          0.0000   A36             S
890 0     112058          0.0000   B102            S
891 0     19972           0.0000                   S

In [45]:
# Create new column FamSize (size of family)
passengers %>%
    mutate(FamSize = Parch + SibSp)

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked FamSize
1   0     A/5 21171          7.2500             S        1
2   0     PC 17599          71.2833 C85         C        1
3   0     STON/O2. 3101282   7.9250             S        0
4   0     113803            53.1000 C123        S        1
5   0     373450             8.0500             S        0
6   0     330877             8.4583             Q        0
7   0     17463             51.8625 E46         S        0
8   1     349909            21.0750             S        4
9   2     347742            11.1333             S        2
10  0     237736            30.0708             C        1
11  1     PP 9549           16.7000 G6          S        2
12  0     113783            26.5500 C103        S        0
13  0     A/5. 2151          8.0500             S        0
14  5     347082            31.2750             S        6
15  0     350406             7.8542             S        0
16  0     248706            16.0000             S        0
17  1     382652            29.1250             Q        5
18  0     244373            13.0000             S        0
19  0     345763            18.0000             S        1
20  0     2649               7.2250             C        0
21  0     239865            26.0000             S        0
22  0     248698            13.0000 D56         S        0
23  0     330923             8.0292             Q        0
24  0     113788            35.5000 A6          S        0
25  1     349909            21.0750             S        4
26  5     347077            31.3875             S        6
27  0     2631               7.2250             C        0
28  2     19950            263.0000 C23 C25 C27 S        5
29  0     330959             7.8792             Q        0
30  0     349216             7.8958             S        0
⋮   ⋮     ⋮                ⋮        ⋮           ⋮        ⋮
862 0     28134            11.5000              S         1
863 0     17466            25.9292  D17         S         0
864 2     CA. 2343         69.5500              S        10
865 0     233866           13.0000              S         0
866 0     236852           13.0000              S         0
867 0     SC/PARIS 2149    13.8583              C         1
868 0     PC 17590         50.4958  A24         S         0
869 0     345777            9.5000              S         0
870 1     347742           11.1333              S         2
871 0     349248            7.8958              S         0
872 1     11751            52.5542  D35         S         2
873 0     695               5.0000  B51 B53 B55 S         0
874 0     345765            9.0000              S         0
875 0     P/PP 3381        24.0000              C         1
876 0     2667              7.2250              C         0
877 0     7534              9.8458              S         0
878 0     349212            7.8958              S         0
879 0     349217            7.8958              S         0
880 1     11767            83.1583  C50         C         1
881 1     230433           26.0000              S         1
882 0     349257            7.8958              S         0
883 0     7552             10.5167              S         0
884 0     C.A./SOTON 34068 10.5000              S         0
885 0     SOTON/OQ 392076   7.0500              S         0
886 5     382652           29.1250              Q         5
887 0     211536           13.0000              S         0
888 0     112053           30.0000  B42         S         0
889 2     W./C. 6607       23.4500              S         3
890 0     111369           30.0000  C148        C         0
891 0     370376            7.7500              Q         0

In [46]:
# Create new column FamSize(size of family)
# Arrange by decreasing FamSize

passengers %>%
    mutate(FamSize = Parch + SibSp) %>%
    arrange(desc(FamSize))

    PassengerId Survived Pclass
1   160         0        3
2   181         0        3
3   202         0        3
4   325         0        3
5   793         0        3
6   847         0        3
7   864         0        3
8    60         0        3
9    72         0        3
10  387         0        3
11  481         0        3
12  679         0        3
13  684         0        3
14   14         0        3
15   26         1        3
16   69         1        3
17  120         0        3
18  183         0        3
19  234         1        3
20  262         1        3
21  542         0        3
22  543         0        3
23  611         0        3
24  814         0        3
25  851         0        3
26   17         0        3
27   28         0        1
28   51         0        3
29   64         0        3
30   89         1        1
⋮   ⋮           ⋮        ⋮
862 841         0        3
863 842         0        2
864 843         1        1
865 844         0        3
866 845         0        3
867 846         0        3
868 848         0        3
869 852         0        3
870 858         1        1
871 860         0        3
872 863         1        1
873 865         0        2
874 866         1        2
875 868         0        1
876 869         0        3
877 871         0        3
878 873         0        1
879 874         0        3
880 876         1        3
881 877         0        3
882 878         0        3
883 879         0        3
884 882         0        3
885 883         0        3
886 884         0        2
887 885         0        3
888 887         0        2
889 888         1        1
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age  SibSp
1   Sage, Master. Thomas Henry                                male   NA   8
2   Sage, Miss. Constance Gladys                              female NA   8
3   Sage, Mr. Frederick                                       male   NA   8
4   Sage, Mr. George John Jr                                  male   NA   8
5   Sage, Miss. Stella Anna                                   female NA   8
6   Sage, Mr. Douglas Bullen                                  male   NA   8
7   Sage, Miss. Dorothy Edith "Dolly"                         female NA   8
8   Goodwin, Master. William Frederick                        male   11   5
9   Goodwin, Miss. Lillian Amy                                female 16   5
10  Goodwin, Master. Sidney Leonard                           male    1   5
11  Goodwin, Master. Harold Victor                            male    9   5
12  Goodwin, Mrs. Frederick (Augusta Tyler)                   female 43   1
13  Goodwin, Mr. Charles Edward                               male   14   5
14  Andersson, Mr. Anders Johan                               male   39   1
15  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38   1
16  Andersson, Miss. Erna Alexandra                           female 17   4
17  Andersson, Miss. Ellis Anna Maria                         female  2   4
18  Asplund, Master. Clarence Gustaf Hugo                     male    9   4
19  Asplund, Miss. Lillian Gertrud                            female  5   4
20  Asplund, Master. Edvin Rojj Felix                         male    3   4
21  Andersson, Miss. Ingeborg Constanzia                      female  9   4
22  Andersson, Miss. Sigrid Elisabeth                         female 11   4
23  Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren) female 39   1
24  Andersson, Miss. Ebba Iris Alfrida                        female  6   4
25  Andersson, Master. Sigvard Harald Elias                   male    4   4
26  Rice, Master. Eugene                                      male    2   4
27  Fortune, Mr. Charles Alexander                            male   19   3
28  Panula, Master. Juha Niilo                                male    7   4
29  Skoog, Master. Harald                                     male    4   3
30  Fortune, Miss. Mabel Helen                                female 23   3
⋮   ⋮                                                         ⋮      ⋮    ⋮
862 Alhomaki, Mr. Ilmari Rudolf                               male   20.0 0
863 Mudd, Mr. Thomas Charles                                  male   16.0 0
864 Serepeca, Miss. Augusta                                   female 30.0 0
865 Lemberopolous, Mr. Peter L                                male   34.5 0
866 Culumovic, Mr. Jeso                                       male   17.0 0
867 Abbing, Mr. Anthony                                       male   42.0 0
868 Markoff, Mr. Marin                                        male   35.0 0
869 Svensson, Mr. Johan                                       male   74.0 0
870 Daly, Mr. Peter Denis                                     male   51.0 0
871 Razi, Mr. Raihed                                          male     NA 0
872 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48.0 0
873 Gill, Mr. John William                                    male   24.0 0
874 Bystrom, Mrs. (Karolina)                                  female 42.0 0
875 Roebling, Mr. Washington Augustus II                      male   31.0 0
876 van Melkebeke, Mr. Philemon                               male     NA 0
877 Balkic, Mr. Cerin                                         male   26.0 0
878 Carlsson, Mr. Frans Olof                                  male   33.0 0
879 Vander Cruyssen, Mr. Victor                               male   47.0 0
880 Najib, Miss. Adele Kiamie "Jane"                          female 15.0 0
881 Gustafsson, Mr. Alfred Ossian                             male   20.0 0
882 Petroff, Mr. Nedelio                                      male   19.0 0
883 Laleff, Mr. Kristo                                        male     NA 0
884 Markun, Mr. Johann                                        male   33.0 0
885 Dahlberg, Miss. Gerda Ulrika                              female 22.0 0
886 Banfield, Mr. Frederick James                             male   28.0 0
887 Sutehall, Mr. Henry Jr                                    male   25.0 0
888 Montvila, Rev. Juozas                                     male   27.0 0
889 Graham, Miss. Margaret Edith                              female 19.0 0
890 Behr, Mr. Karl Howell                                     male   26.0 0
891 Dooley, Mr. Patrick                                       male   32.0 0
    Parch Ticket           Fare     Cabin       Embarked FamSize
1   2     CA. 2343          69.5500             S        10
2   2     CA. 2343          69.5500             S        10
3   2     CA. 2343          69.5500             S        10
4   2     CA. 2343          69.5500             S        10
5   2     CA. 2343          69.5500             S        10
6   2     CA. 2343          69.5500             S        10
7   2     CA. 2343          69.5500             S        10
8   2     CA 2144           46.9000             S         7
9   2     CA 2144           46.9000             S         7
10  2     CA 2144           46.9000             S         7
11  2     CA 2144           46.9000             S         7
12  6     CA 2144           46.9000             S         7
13  2     CA 2144           46.9000             S         7
14  5     347082            31.2750             S         6
15  5     347077            31.3875             S         6
16  2     3101281            7.9250             S         6
17  2     347082            31.2750             S         6
18  2     347077            31.3875             S         6
19  2     347077            31.3875             S         6
20  2     347077            31.3875             S         6
21  2     347082            31.2750             S         6
22  2     347082            31.2750             S         6
23  5     347082            31.2750             S         6
24  2     347082            31.2750             S         6
25  2     347082            31.2750             S         6
26  1     382652            29.1250             Q         5
27  2     19950            263.0000 C23 C25 C27 S         5
28  1     3101295           39.6875             S         5
29  2     347088            27.9000             S         5
30  2     19950            263.0000 C23 C25 C27 S         5
⋮   ⋮     ⋮                ⋮        ⋮           ⋮        ⋮
862 0     SOTON/O2 3101287  7.9250              S        0
863 0     S.O./P.P. 3      10.5000              S        0
864 0     113798           31.0000              C        0
865 0     2683              6.4375              C        0
866 0     315090            8.6625              S        0
867 0     C.A. 5547         7.5500              S        0
868 0     349213            7.8958              C        0
869 0     347060            7.7750              S        0
870 0     113055           26.5500  E17         S        0
871 0     2629              7.2292              C        0
872 0     17466            25.9292  D17         S        0
873 0     233866           13.0000              S        0
874 0     236852           13.0000              S        0
875 0     PC 17590         50.4958  A24         S        0
876 0     345777            9.5000              S        0
877 0     349248            7.8958              S        0
878 0     695               5.0000  B51 B53 B55 S        0
879 0     345765            9.0000              S        0
880 0     2667              7.2250              C        0
881 0     7534              9.8458              S        0
882 0     349212            7.8958              S        0
883 0     349217            7.8958              S        0
884 0     349257            7.8958              S        0
885 0     7552             10.5167              S        0
886 0     C.A./SOTON 34068 10.5000              S        0
887 0     SOTON/OQ 392076   7.0500              S        0
888 0     211536           13.0000              S        0
889 0     112053           30.0000  B42         S        0
890 0     111369           30.0000  C148        C        0
891 0     370376            7.7500              Q        0

In [48]:
# Turn numerical values of Survived column to "No" and "Yes"
passengers1 <- passengers %>%
    mutate(Survived = ifelse(Survived == 0, "No", "Yes"))
passengers1

    PassengerId Survived Pclass
1    1          No       3
2    2          Yes      1
3    3          Yes      3
4    4          Yes      1
5    5          No       3
6    6          No       3
7    7          No       1
8    8          No       3
9    9          Yes      3
10  10          Yes      2
11  11          Yes      3
12  12          Yes      1
13  13          No       3
14  14          No       3
15  15          No       3
16  16          Yes      2
17  17          No       3
18  18          Yes      2
19  19          No       3
20  20          Yes      3
21  21          No       2
22  22          Yes      2
23  23          Yes      3
24  24          Yes      1
25  25          No       3
26  26          Yes      3
27  27          No       3
28  28          No       1
29  29          Yes      3
30  30          No       3
⋮   ⋮           ⋮        ⋮
862 862         No       2
863 863         Yes      1
864 864         No       3
865 865         No       2
866 866         Yes      2
867 867         Yes      2
868 868         No       1
869 869         No       3
870 870         Yes      3
871 871         No       3
872 872         Yes      1
873 873         No       1
874 874         No       3
875 875         Yes      2
876 876         Yes      3
877 877         No       3
878 878         No       3
879 879         No       3
880 880         Yes      1
881 881         Yes      2
882 882         No       3
883 883         No       3
884 884         No       2
885 885         No       3
886 886         No       3
887 887         No       2
888 888         Yes      1
889 889         No       3
890 890         Yes      1
891 891         No       3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500             S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250             S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500             S
6   0     330877             8.4583             Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750             S
9   2     347742            11.1333             S
10  0     237736            30.0708             C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500             S
14  5     347082            31.2750             S
15  0     350406             7.8542             S
16  0     248706            16.0000             S
17  1     382652            29.1250             Q
18  0     244373            13.0000             S
19  0     345763            18.0000             S
20  0     2649               7.2250             C
21  0     239865            26.0000             S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292             Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750             S
26  5     347077            31.3875             S
27  0     2631               7.2250             C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792             Q
30  0     349216             7.8958             S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000              S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500              S
865 0     233866           13.0000              S
866 0     236852           13.0000              S
867 0     SC/PARIS 2149    13.8583              C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000              S
870 1     347742           11.1333              S
871 0     349248            7.8958              S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000              S
875 0     P/PP 3381        24.0000              C
876 0     2667              7.2250              C
877 0     7534              9.8458              S
878 0     349212            7.8958              S
879 0     349217            7.8958              S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000              S
882 0     349257            7.8958              S
883 0     7552             10.5167              S
884 0     C.A./SOTON 34068 10.5000              S
885 0     SOTON/OQ 392076   7.0500              S
886 5     382652           29.1250              Q
887 0     211536           13.0000              S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500              S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500              Q

In [49]:
# Checking the mean Fare
passengers %>%
    summarise(meanFare = mean(Fare))

  meanFare
1 32.20421

In [50]:
# Similarly Meadian Fare
passengers %>%
    summarise(medianFare =median(Fare))

  medianFare
1 14.4542

In [51]:
# We can also use the filter() and summarise() verbs to find out the mean fare paid among men:
passengers %>%
    filter(Sex == "male") %>%
    summarise(meanFare = mean(Fare))

  meanFare
1 25.52389

In [52]:
# Similarly Mean Fare for women
passengers %>%
    filter(Sex == "female") %>%
    summarise(meanFare = mean(Fare))

  meanFare
1 44.47982

In [53]:
# Use the filter() and summarise() verbs to find out the mean fare paid among women and how many women survived:
passengers %>% 
    filter(Sex == "female") %>%
    summarise(meanFare = mean(Fare), numSurv = sum(Survived))

  meanFare numSurv
1 44.47982 233

In [54]:
# Use the group_by() and summarise() verbs to find the mean fare and number of survivors as a function of sex:
passengers %>%
    group_by(Sex) %>%
    summarise(meanFare = mean(Fare), numSurv = sum(Survived))

  Sex    meanFare numSurv
1 female 44.47982 233
2 male   25.52389 109

In [55]:
# Use the group_by() and summarise() verbs to find the mean fare and proportion of survivors as a function of sex:
passengers %>%
    group_by(Sex) %>%
    summarise(meanFare = mean(Fare), numSurv = sum(Survived)/n())

  Sex    meanFare numSurv
1 female 44.47982 0.7420382
2 male   25.52389 0.1889081